.header {
  height: 37.707px;
  padding-top: 70px;
  margin-bottom: 50px;
 
  .nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .radial_gradient {
      width: 507px;
      height: 325px;
      border-radius: 507px;
      background: radial-gradient(
        96.01% 96.01% at 25.21% 29.06%,
        #dfe583 0%,
        #ffa760 100%
      );
      filter: blur(125px);
      position: absolute;
      left: -108px;
      top: -163px;
      z-index: -1;
    }
    &_menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 19px;
      &_item {
        &:first-child {
          margin-right: -3px;
        }
      }
      &_link {
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
    }
    .btn_mobile {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      text-decoration-line: underline;
      position: absolute;
      right: 55px;
      display: none;
    }
    .toggle_menu {
      display: none;
    }
    .close_menu {
      display: none;
    }
  }
}
.show {
  right: 0 !important;
}
@media only screen and (max-width: 767.98px) {
  .header {
    margin: 0 20px 0 20px;
    padding-top: 14px;
    .nav {
      position: relative;
      .logo {
        display: flex;
        width: 131px;
        height: 30.1px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_menu {
        position: absolute;
        top: 100%;
        width: 100%;
        right: 120%;
        flex-direction: column;
        gap: 21px;
        margin-top: 10px;
        padding-top: 20px;
        border-top: 0.997px solid #000;
        align-items: start;
        transition: 400ms;
        height: 100vh;
        background: white;
        z-index: 99;
        justify-content: start;
        &_link {
          font-weight: 500;
        }
      }
      .btn_mobile {
        display: block;
      }
      .toggle_menu {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
    .toggle_menu {
      display: none !important;
    }
    .close_menu {
      display: none !important;
    }
  }
}
@media screen and (min-width: 1301px) {
  .toggle_menu {
    display: none !important;
  }
  .close_menu {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .radial_gradient {
    display: none;
  }
}
